@import url('https://fonts.googleapis.com/css?family=Manjari|Yeseva+One&display=swap');

/* Misc init stuff and default styles*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient: linear-gradient(45deg, #7B4397 0%, #DC2430 100%)
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: #ff605a;
}

a:hover,
a:focus {
    border-bottom: 4px;
    border-bottom-color: #ff605a;
    /* color: #ff605a; */
}

h2 {
    font-size: 2em;
    color: #eee;
}

/* navigation */
nav {
    display: flex;
    /* width: 37vw; */
    width: 97%;
    background: rgba(250, 250, 250, 0.5);
    z-index: 999;
    position: absolute;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.5);
    align-items: center;
    min-height: 60px;
    padding: 8px 24px 8px 24px;
    backdrop-filter: blur(20px);
    transition: all 300ms ease-in-out;
}



nav>ul {
    display: flex;
    flex-direction: row;
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    text-decoration: none;
    color: #222;
    margin: 0px 4px;
    font-family: 'Manjari',
        sans-serif;
}


/* HeroSpecial Nav */
nav.heroSpecial {
    background: none;
    box-shadow: none;
}

nav.heroSpecial a {
    color: #eee;
}

/* Container Rules */
.container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding-bottom: 6rem;
    align-items: center;
    font-family: 'Yeseva One',
        sans-serif;
    font-size: 1rem;
    padding: 0px 48px;
    overflow: hidden;
    padding: 0 10vw;
    scroll-snap-align: start;
    background: #ff605a;
}

.container h1,
.container h4 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;
    color: #000;
}

.container h4 {
    font-size: 1.5rem;
    color: #ddd;
    padding: 12px 0;
    line-height: initial;
}

/* main-header */
.container#hero {
    padding-bottom: 6rem;
    background-size: 200%;
    background-image: var(--gradient);
    animation: bgAnim 16s infinite;
}

.container#hero>h1 {
    color: #EEEEEE;
    max-width: 400px;
    opacity: 0;
    animation: heroText 1s ease-in-out 0.6s 1;
    animation-fill-mode: forwards;
}

.container#hero>.bubbles {
    position: relative;
    height: 40vh;
    min-width: 300px
}

.container#hero>.bubbles>img {
    position: absolute;
    /* left: -180px; */
}

/* Contact Section */
.container#contactme {
    min-height: 40vh;
    background: #4c1768;
    justify-content: space-evenly;
}

/* footer */
footer {
    background: #222;
    height: 40vh;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;

}

footer p,
footer a {
    color: #bbb;
    border-bottom: 0px;
}

footer a:focus,
footer a:hover {
    color: #fff;
    border-bottom: 4px;
}

/* Responsive Design */

@media(max-width:670px) {

    .container,
    footer {
        max-height: 90vh;
        flex-direction: column;
        /* Make Container height smaller than screen size indicating scroll */
    }

    /* Nav Bar */
    nav {
        flex-direction: column;
        min-height: 20px;
        padding: 14px 0 8px 0;
        min-width: 100vw;
        ;
    }

    nav>.logo {
        display: none;
    }

    /* Disable Bubbles on small screen and centre text */
    .container#hero {
        justify-content: center;
        align-items: center;
    }

    .container#hero>.bubbles {
        display: none;
    }

    /* footer */
    footer {
        flex-direction: column;
        ;
    }



}

/* Animations */
@keyframes bgAnim {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}

@keyframes heroText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}