@import url('https://fonts.googleapis.com/css?family=Manjari|Yeseva+One&display=swap');

/* Misc init stuff and default styles*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient: linear-gradient(45deg, #7B4397 0%, #DC2430 100%)
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y proximity;
    /* overflow-y: scroll; */
}

a {
    text-decoration: none;
    color: #ff605a;
}

a:hover,
a:focus {
    border-bottom: 4px;
    border-bottom-color: #ff605a;
    /* color: #ff605a; */
}

h2 {
    font-size: 2em;
    color: #eee;
}

/* navigation */
nav {
    display: flex;
    /* width: 37vw; */
    width: 97%;
    background: rgba(250, 250, 250, 0.5);
    z-index: 999;
    position: absolute;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.5);
    align-items: center;
    min-height: 60px;
    padding: 8px 24px 8px 24px;
    backdrop-filter: blur(20px);
    transition: all 300ms ease-in-out;
}



nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    margin: 0px 4px;
    outline: none;
    font-family: 'Manjari',
        sans-serif;
}

nav:hover,
nav:focus-within {

    background: #fff;
    /* #dc2430; */
    /* border-radius: 4px; */
}

nav a:hover,
nav a:focus {
    color: #000;
}


/* HeroSpecial Nav */
nav.heroSpecial {
    background: none;
    box-shadow: none;
}

nav.heroSpecial a {
    color: #eee;
}

/* Container Rules */
.container {
    display: flex;
    min-height: 100vh;
    max-height: 200vh;
    justify-content: space-between;
    padding-bottom: 6rem;
    align-items: center;
    font-family: 'Yeseva One',
        sans-serif;
    font-size: 1rem;
    padding: 0px 48px;
    overflow: hidden;
    padding: 0 10vw;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    background: #ff605a;
}

h1,
h4 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;
    color: rgba(200, 200, 200, 0.8);
}

h4 {
    font-size: 1.5rem;
    padding: 12px 0;
    line-height: initial;
}

.card {
    background: #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #666;
    transition: all 300ms ease-in-out;
    padding: 18px 22px;
    max-width: 350px;
}

.card h4 {
    color: #222;
}

.card p {
    font-family: "manjari", sans-serif;
    color: #444;
    padding: 14px 2px 2px 2px;
    font-size: 0.7rem;
}

.card:focus-within,
.card:hover {
    background: #fff;
    box-shadow: 2px 2px 12px #999;
}

form input {
    font-family: "manjari", sans-serif;
    outline: 0;
    background: rgba(210, 210, 210, 0.5);
    width: 100%;
    border: rgba(210, 210, 210, 0.1) 2px solid;
    margin: 0 0 15px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 300ms ease-out;
}

form input:focus,
form input:hover {
    /* background-attachment: ; */
    border-bottom: #7B4397 2px solid;
}

form button {
    font-family: "manjari", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #7B4397;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

/* main-header */
.container#hero {
    padding-bottom: 6rem;
    background-size: 200%;
    background-image: var(--gradient);
    animation: bgAnim 16s infinite;
}

.container#hero>h1 {
    color: #EEEEEE;
    max-width: 400px;
    opacity: 0;
    animation: heroText 1s ease-in-out 0.6s 1;
    animation-fill-mode: forwards;
}

.container#hero>.bubbles {
    position: relative;
    height: 40vh;
    min-width: 300px
}

.container#hero>.bubbles>img {
    position: absolute;
    animation: bubbleAnim 10s infinite ease-in-out;
    animation-direction: alternate
}

/* Who am I */
.container#intro {
    background: #ab6fc7;
}

.container#projects {
    background: gainsboro;
}

.container#projects .card {
    background: linear-gradient(135.57deg, #DC2430 -7.72%, rgba(220, 36, 48, 0.72) 113.62%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-width: 250px;
    min-height: 250px;
    transition: transform 250ms ease-out;
    padding: 20px;
}

#projects .card:focus,
#projects .card:focus-within,
#projects .card:hover {
    transform: scale(1.1);
}

/* Contact Section */
.container#contactme {
    background: #4c1768;
    justify-content: space-evenly;
}

/* footer */
footer {
    background: #222;
    height: 40vh;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;

}

footer p,
footer a {
    color: #bbb;
    border-bottom: 0px;
}

footer a:focus,
footer a:hover {
    color: #fff;
    border-bottom: 4px;
}

#footer_left,
#footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer_left a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Manjari", sans-serif;
    padding: 2px 4px;
    transition: background 300ms ease-out;
}

#footer_left a:first-of-type {
    padding-left: 0px;
}

#footer_left a:hover,
#footer_left a:focus {
    background: #4b1668;
    color: #fff;
}

#footer_right {
    justify-content: flex-end;
}

/* Responsive Design */

@media(max-width:670px) {

    .container,
    footer {
        flex-direction: column;
        /* Make Container height smaller than screen size indicating scroll */
    }

    /* Nav Bar */
    nav {
        flex-direction: column;
        min-height: 20px;
        padding: 14px 0 8px 0;
        min-width: 100vw;
        ;
    }

    nav>.logo {
        display: none;
    }

    .card {
        border-radius: 0;
        max-width: 100vw;
        width: 90vw;
        padding: 18px 48px;
        height: inherit;
    }

    /* footer */
    footer {
        flex-direction: column;
        ;
    }

    /* Disable Bubbles on small screen and centre text */
    .container#hero {
        justify-content: center;
        align-items: center;
    }

    .container#hero>.bubbles {
        display: none;
    }



}

/* Animations */
@keyframes bgAnim {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}

@keyframes heroText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bubbleAnim {
    0% {
        transform: rotate(0deg) scale(1) translateY(0%);
    }

    47% {
        transform: rotate(0deg) scale(0.6) translateY(4%);
    }

    56% {
        transform: rotate(6deg) scale(1.2) translateY(5%);
    }

    100% {
        transform: rotate(10deg) scale(1.7) translateY(10%);
    }
}