/* HeroSpecial Nav */
nav.heroSpecial {
    background: none;
    box-shadow: none;
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
}

nav.heroSpecial a {
    color: #eee;
}

/* main-header */
.container#hero {
    padding-bottom: 6rem;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bgAnim 22s infinite;
}

.container#hero>h1 {
    color: #EEEEEE;
    max-width: 400px;
    opacity: 0;
    animation: heroText 1s ease-in-out 0.6s 1;
    animation-fill-mode: forwards;
}

.container#hero>.bubbles {
    position: relative;
    height: 40vh;
    min-width: 300px
}

.container#hero>.bubbles>img {
    position: absolute;
    animation: bubbleAnim 10s infinite ease-in-out;
    animation-direction: alternate
}

/* Medium Strip CTA */
#medium-CTA>p {
    color: #222;
}

#medium-CTA>p>a {
    color: #000;
    border-bottom: 2px #000 solid;
}

#medium-CTA a:hover,
#medium-CTA a:focus {
    background-color: #000;
    color: #fff;
}

@media(prefers-scheme-scheme: dark){
    #medium-CTA {
        background-color: #bdbdbd;
    }
}

/* Who am I */
.container#intro {
    background: #7a4296;
    justify-content: space-evenly;
}

.intro_left{
    max-width: 60%;
}

#intro p {
    color: #eee;
    line-height: 24px;
    font-family: "Manjari", sans-serif;
    padding: 24px 0;
    font-size: 1.2rem;
}

#intro p>a {
    color: #ccc;
    border-bottom: #ccc 2px solid;
    transition: all 300ms ease-out;
}

#intro a:hover,
#intro a:focus {
    color: #fff;
    border-bottom: #fff 2px solid;
    background: rgba(200, 200, 200, 0.4);
}

.intro_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img#avatar {
    clip-path: circle(40%);
    -webkit-clip-path: circle(40%);
    max-height: 400px;
    max-width: 400px;
    margin-left: 20px;
}

.img-wrap {
    filter: drop-shadow(2px 2px 4px rgba(20, 20, 20, 0.2));
}

#github-CTA {
    background: #454545;
}

#github-CTA>p {
    color: #ddd;
}

#github-CTA>p>a {
    color: #fff;
    border-bottom: 2px #fff solid;
}

#github-CTA a:hover,
#github-CTA a:focus {
    background-color: #fff;
    color: #454545;
}

.container#projects {
    background: linear-gradient(to bottom, #d6d2da, #e1cdc5);
    padding: 20px 10px;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 100vw;
}

#projects>h2 {
    color: #222;
    padding: 8px;
    font-size: 64px;
    font-weight: 900;
    line-height: unset;
}


.showcase {
    display: flex;
    flex-direction: row;
    padding: 24px 16px;
    overflow-x: auto;
    max-width: 100vw;
    scrollbar-width: none;
}

.container#projects .card {
    background: #efefef;
    box-shadow: 0px 4px 8px rgba(0.8, 0.8, 0.8, 0.25);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 12px;
    min-width: 300px;
    height: 250px;
    transition: all 300ms ease-in-out;
    padding: 24px;
    color: #fee;
    font-size: 1.6rem;
    font-family: "Manjari";
}

.container#projects .card>h3 {
    background: linear-gradient(45deg, #bc4e9c, #f80759);
    /* linear-gradient(135.57deg, #DC2430 -7.72%, rgba(220, 36, 48, 0.72) 113.62%); */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 26px;
    font-weight: 900;

}

#projects .card:focus,
#projects .card:focus-within,
#projects .card:hover {
    transform: scale(1.08);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

#projects .card:hover:after {
    content: 'available on github.';
    position: absolute;
    right: 10%;
    color: #444444ee;
    bottom: 8%;
    font-size: 1rem;
}

/* Contact Section */
#contactme {
    background: #4c1768;
    justify-content: space-evenly;

}

/* Callout Strip for resume */
#resume-CTA a {
    color: #4c1768;
    border-bottom: 2px #4c1768 solid;
}

#resume-CTA a:hover,
#resume-CTA a:focus {
    background-color: #4c1768;
    color: #fff;
}

/* Dark Scheme */
@media (prefers-color-scheme: dark){
    .container#projects {
        background: #040404;
    }
    .container#projects .card{
        background:#242024;
    }
    #projects .card:hover:after {
        color: #ddd;
    }
    #projects>h2 {
    background: linear-gradient(45deg, #bc4e9c, #f80759);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    }
}

/* Responsive Design */

@media(max-width:680px) {

    .card {
        border-radius: 0;
        max-width: 100vw;
        width: 90vw;
        padding: 18px 48px;
        height: inherit;
        box-shadow: none;
    }

    .container#projects {
        min-height: 80vh;
        padding: 0px 50px;
    }

    .container#projects .card {
        min-width: 80vw;
        border-radius: 6px;
        font-size: 1.75em;
        padding: 36px 24px;
    }

    .container#projects .card:hover,
    .container#projects .card:focus {
        transform: scale(1.06);
    }

    .container#intro {
        padding: 42px;
    }

    .container#intro .intro_left {
        max-width: 90%;
    }

    /* Disable Bubbles on small screen and centre text */
    .container#hero {
        justify-content: center;
        align-items: center;
    }

    .container#hero>.bubbles {
        display: none;
        /* DISABLE BUBBLES */
    }

    #contactme {
        min-height: 85vh;
    }
}

/* ================
** ===ANIMATIONS===
** ================ */
@keyframes bgAnim {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}

@keyframes heroText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bubbleAnim {
    0% {
        transform: rotate(0deg) scale(1) translateY(0%);
    }

    47% {
        transform: rotate(0deg) scale(0.6) translateY(4%);
    }

    56% {
        transform: rotate(6deg) scale(1.2) translateY(5%);
    }

    100% {
        transform: rotate(10deg) scale(1.7) translateY(10%);
    }
}
