@import url('https://fonts.googleapis.com/css?family=Manjari|Yeseva+One&display=swap');

/* Misc init stuff and default styles*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient: linear-gradient(45deg, #7B4397 0%, #DC2430 100%)
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ff605a;
}

a:hover,
a:focus {
    border-bottom: 4px;
    border-bottom-color: #ff605a;
}

h2 {
    font-size: 2em;
    color: #eee;
    line-height: 24px;
}

h1,
h4 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;
    color: rgba(200, 200, 200, 0.8);
}

h4 {
    font-size: 1.5rem;
    padding: 12px 0;
    line-height: initial;
}

/* navigation */
nav {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background: rgba(250, 250, 250, 0.5);
    z-index: 999;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.5);
    align-items: center;
    min-height: 70px;
    max-height: 90px;
    padding: 14px 48px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(30px);
    -moz-backdrop-filter: blur(16px);
    transition: all 300ms ease-in-out;
}



nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-size: 1.2em;
    margin: 0px 12px;
    outline: none;
    font-family: 'Manjari',
        sans-serif;
}

nav:hover,
nav:focus-within {

    background: #fff;
    /* #dc2430; */
    /* border-radius: 4px; */
}

nav a:hover,
nav a:focus {
    color: #000;
}



/* Container Rules */
.container {
    display: flex;
    min-height: 100vh;
    max-height: 200vh;
    justify-content: space-between;
    padding-bottom: 6rem;
    align-items: center;
    font-family: 'Yeseva One',
        sans-serif;
    font-size: 1rem;
    overflow: hidden;
    padding: 0 10vw;
    background: #ff605a;
}

/* Strip Callout rules */
.strip {
    max-height: 80px;
    min-height: 80px;
    height: 80px;
    background: gainsboro;
    justify-content: center;
}

.card {
    background: #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #666;
    transition: all 300ms ease-in-out;
    padding: 18px 22px;
    max-width: 350px;
}

.card h4 {
    color: #222;
}

.card p {
    font-family: "manjari", sans-serif;
    color: #444;
    padding: 14px 2px 2px 2px;
    font-size: 0.7rem;
}

.card:focus-within,
.card:hover {
    background: #eee;
    box-shadow: 2px 2px 12px #999;
}

form input {
    font-family: "manjari", sans-serif;
    outline: 0;
    background: rgba(210, 210, 210, 0.5);
    width: 100%;
    border: rgba(210, 210, 210, 0.1) 2px solid;
    margin: 0 0 15px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 300ms ease-out;
}

form input:focus,
form input:hover {
    /* background-attachment: ; */
    border-bottom: #7B4397 2px solid;
}

form button {
    font-family: "manjari", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #7B4397;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    cursor: pointer;
}

form button:focus,
form button:hover {
    background: #512071;
}

form button:disabled {
    background: #666;
}

form #btnGo.SENTCLR {
    background: #008800;
}

form #btnGo.SENDERR {
    background: #ff605a;
}

form #btnGo.SENDERR:hover,
form #btnGo.SENDERR:focus {
    background: #ee504f;
}

/* footer */
footer {
    background: #222;
    min-height: 40vh;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;

}

footer p,
footer a {
    color: #bbb;
    border-bottom: 0px;
}

footer a:focus,
footer a:hover {
    color: #fff;
    border-bottom: 4px;
}

#footer_left,
#footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer_left a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Manjari", sans-serif;
    padding: 2px 4px;
    transition: background 300ms ease-out;
}

#footer_left a:first-of-type {
    padding-left: 0px;
}

#footer_left a:hover,
#footer_left a:focus {
    background: #4b1668;
    color: #fff;
}

#footer_right {
    justify-content: flex-end;
}

/* Dark Mode */

@media (prefers-color-scheme: dark){
    nav {
        background: rgba(30, 30, 30, 0.85);
        
    }
    
    @supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)) {
        nav{

            background: rgba(110, 110, 110, 0.45);
        }
    }
    @supports (-webkit-backdrop-filter: blur(16px)) {
        nav{
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(36px);
            background: rgba(55, 55, 55, 0.45);
        }
    }

    nav:hover{
        background: rgb(35, 35, 35,0.85);
    }
    nav>ul>li>a {
        color: #ccc;
        font-style: 600;
    }
    nav>ul>li>a:hover{
        color:#fff;

    }
}

/* Responsive Design */

@media(max-width:680px) {

    .container,
    footer {
        flex-direction: column;
        /* Make Container height smaller than screen size indicating scroll */
    }

    /* Nav Bar */
    nav {
        flex-direction: column;
        min-height: 20px;
        padding: 14px 0 8px 0;
        min-width: 100vw;
        justify-content: space-evenly;
    }

    nav .logo {
        display: none;
    }

    .card {
        border-radius: 0;
        max-width: 100vw;
        width: 90vw;
        padding: 18px 48px;
        height: inherit;
        box-shadow: none;
    }

    /* footer */
    footer {
        flex-direction: column;
        padding: 60px 60px;
        max-height: 80vh;
        ;
    }

}

